USE [master]
GO
/****** Object:  Database [Practcal]    Script Date: 8/1/2022 7:57:58 AM ******/
CREATE DATABASE [Practcal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practcal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practcal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practcal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practcal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practcal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practcal]
GO
/****** Object:  UserDefinedTableType [dbo].[UserType]    Script Date: 8/1/2022 7:57:58 AM ******/
CREATE TYPE [dbo].[UserType] AS TABLE(
	[id] [int] NULL,
	[userid] [int] NULL,
	[title] [nvarchar](max) NULL,
	[completed] [bit] NULL
)
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/1/2022 7:57:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[title] [nvarchar](max) NULL,
	[completed] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Update_Users_API]    Script Date: 8/1/2022 7:57:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Users_API]
      @tblUsers UserType READONLY
AS
BEGIN
      SET NOCOUNT ON;
 
      MERGE INTO Users u1
      USING @tblUsers u2
      ON u1.id=u2.id
      WHEN MATCHED THEN
      UPDATE SET u1.userid = u2.userid

            ,u1.title = u2.title
			,u1.completed=u2.completed
      WHEN NOT MATCHED THEN
      INSERT VALUES(u2.id,u2.userid, u2.title, u2.completed);
END
GO
USE [master]
GO
